<!DOCTYPE html>
<html<% for (let [name, value] of page.htmlAttrs) { %> <%= name %>="<%= value %>"<% } %>>
  <head<% for (let [name, value] of page.headAttrs) { %> <%= name %>="<%= value %>"<% } %>>
    <meta charset="UTF-8">
    <base href="<%= url %>">
    <%- page.headSub %>
  </head>
  <body<% for (let [name, value] of page.bodyAttrs) { %> <%= name %>="<%= value %>"<% } %>>
    <%- page.bodySub %>
  </body>
</html>
