<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pages with redirects</title>
    <style>

body {
  font-family: sans-serif;
}

td.url {
  max-width: 30%;
  overflow: hidden;
  overflow-wrap: break-word;
  word-break: break-all;
}

label {
  display: block;
}

tr:nth-child(odd) td {
  background-color: #eee;
}

    </style>
  </head>
  <body>
    <h1>Pages fetched with redirects (<%= pages.length %>)</h1>

    <form action="./clear-redirected" method="POST">
      <div>
        <button type="submit">Clear selected pages</button>
        <button type="submit" formaction="./set-redirect-ok">Set redirect OK</button>
        Regex:
        <input type="text" style="width: 15em" id="select-regex">
        <button type="button" id="select-button">Select matching</button>
        <button type="button" id="select-none">Clear selection</button>
      </div>

      <table style="width: 100%">
        <tr>
          <th></th>
          <th>Original URL</th>
          <th>Redirected to</th>
        </tr>

        <% for (let page of pages) { %>
          <tr>
            <td><input type="checkbox" name="url" value="<%= page.url %>" id="<%= page.url %>" data-redirect="<%= page.redirectUrl %>"></td>
            <td class="url"><label for="<%= page.url %>"><a href="<%= page.url %>" target=_blank><%= page.url %></a></label></td>
            <td class="url"><label for="<%= page.url %>"><%= page.redirectUrl %></label></td>
          </tr>
        <% } %>

      </table>
    </form>

<script>
let selectButton = document.querySelector("#select-button");
let selectNoneButton = document.querySelector("#select-none");
let selectInput = document.querySelector("#select-regex");
selectButton.addEventListener("click", () => {
  let value = selectInput.value;
  if (!value) {
    alert("No regex given");
    return;
  }
  let regex = new RegExp(value);
  let checkboxes = document.querySelectorAll("input[name=url]");
  for (let checkbox of checkboxes) {
    if (regex.test(checkbox.value) || regex.test(checkbox.getAttribute("data-redirect"))) {
      checkbox.checked = true;
    }
  }
});
selectNoneButton.addEventListener("click", () => {
  let checkboxes = document.querySelectorAll("input[name=url]");
  for (let checkbox of checkboxes) {
    checkbox.checked = false;
  }
});
</script>

  </body>
</html>
